@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lab made by hannakot62</p>
<div class="img-container-2">
    <img src="~/img/2.webp" />
    </div>